{% extends 'Temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center><br><br><br>
<h1>Leave details</h1><br>
	<table border="1" class="table table-striped">
		<tr style="background-color: #001f3f; color: #ffffff;">
			<td>Sl.no</td>
			{% comment %} <td>Mess_no</td> {% endcomment %}
			<td>from_date</td>
			<td>to_date</td>
            <td>Reason</td>
			<td>Status</td>
		</tr>
        {% for i in b %}
		<tr>
			<td style="color: black;">{{ forloop.counter }}</td>
            {% comment %} <td>{{ i.mess.mess_id }}</td> {% endcomment %}
			<td style="color: black;">{{ i.from_date }}</td>
			<td style="color: black;">{{ i.to_date }}</td>
			<td style="color: black;">{{ i.reason}}</td>
			<td style="color: black;">{{ i.status}}</td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}
