{% extends 'Temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center><br><br><br>
<h1>Leave details</h1><br>
	<table border="1" class="table table-striped">
		<tr>
			<td>Sl.no</td>
			<td>Mess_no</td>
			<td>from_date</td>
			<td>to_date</td>
            <td>Reason</td>
			<td>Status</td>
		</tr>
        {% for i in b %}
		<tr>
			<td>{{ i.leave_id }}</td>
            <td>{{ i.mess.mess_no }}</td>
			<td>{{ i.from_date }}</td>
			<td>{{ i.to_date }}</td>
			<td>{{ i.reason}}</td>
			<td>{{ i.status}}</td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}
